@use "sass:color";

@import "fluid";

$size: 570px;

@mixin hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    // color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    // border: 1px solid red;
}

html {
    scroll-behavior: smooth;

    @media (max-width: $size) {
        background: url("./assets/bg.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

body {
    // font-family: Arial, Helvetica, sans-serif
    // font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.7rem; 

    @media (hover: hover) {
        &:hover {
            @include hover;
            text-decoration: underline;
        }
    }
}

.big-text {
    $color: white;
    // font-size: 50px;
    @include interpolate(font-size, 30px, 55px);
    font-weight: 700;
    color: $color;
    // margin: 0 0 1rem;
    margin-left: 10%;
    line-height: 1.3em;
    letter-spacing: 0.1em;

    span {
        color: color.adjust($color, $alpha: -0.3);
    }
}

.text-container {
    // margin-bottom: 1rem;
    @include interpolate(margin-bottom, 120px, 60px);
}

h1 {
    font-weight: 500;
    // font-size: 24px;
    @include interpolate(font-size, 18px, 26px);
    color: #e0ffff;
    margin: 0 0 0.5em;

    @media screen and (max-width: $size) {
        margin-top: 2rem;
    }
}

h2 {
    font-weight: 500;
    @include interpolate(font-size, 16px, 24px);
    color: #e0ffff;
    margin: 0 0 1.4em;
}

h4 {
    color: #e0ffff;
    @include interpolate(font-size, 16px, 20px);
}

p {
    // font-size: 20px;
    @include interpolate(font-size, 14px, 20px);
    font-weight: 300;
    color: #e0ffff;
    margin: 0.4em 0;

    a {
        font-weight: 500;
    }
}

nav {
    background-color: rgba(0, 20, 42, 0.278);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    // min-height: 74px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0px 5%;
    z-index: 1;

    @media screen and (max-width: $size) {
        flex-direction: column;
        // margin-top: 8px;
    }

    ul {
        display: flex;

        li a {
            margin: 10px;
            // padding: 8px 4px;
            padding: 0.5em;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            color: #e0ffff;
            transition: 0.3s;


            @media (hover: hover) {
                &:hover {
                    @include hover;
                }
            }

            @media screen and (max-width: $size) {
                // padding: 0.5em;
                font-size: 0.9rem;
            }
        }
    }
}

.logo {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
    // font-size: 2rem;
    @include interpolate(font-size, 20px, 30px);

    a {
        color: inherit;
    }

    @media screen and (max-width: $size) {
        margin-top: 8px;
    }
}

.main-text {
    padding-top: 5rem;
    padding-bottom: 2rem;
    // padding-left: 24px;
    @include interpolate(padding-left, 24px, 84px);

    // position: absolute;
    // left: 8%;
    // top: 15%;

    // transform: translate(-13%, -42%);

    // a {
    //     width: 150px;
    //     height: 40px;
    //     outline: none;
    //     border-radius: 5px;
    //     font-size: 15px;
    //     font-weight: 200;
    //     padding: 1rem;

    //     &:hover {
    //         @include hover;
    //     }
    // }
}

.btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #e0ffff;
    font-family: "Asap", sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    position: relative;

    video {
        // position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    @media (max-width: $size) {
        // background: url("./assets/bg.jpg");
        // background-size: cover;
        // background-position: center;
        // background-attachment: fixed;

        video {
            display: none;
        }
    }
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(3, 36, 93, 0.4);
    background-image: linear-gradient(to right, rgba(1, 24, 65, 0.7) 30%,
            rgba(0, 193, 203, 0));
}

.container {
    // padding: 8rem;
    @include interpolate(padding, 16px, 64px);
    @include interpolate(padding-top, 32px, 64px);
    @include interpolate(padding-bottom, 32px, 64px);

}

#projects {
    background-color: rgb(0, 29, 62, 0.83);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

#contacts {
    background-color: rgb(0, 62, 42, 0.83);
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 50%;
    max-width: 400px;
    background-color: rgba(0, 11, 25, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.4rem;
    box-shadow: rgba(74, 255, 186, 0.4) 0px 40px 70px -20px;

    h4 {
        color: rgb(0, 255, 174);
        text-align: center;
        margin-bottom: 0.4rem;
    }

    .image {
        // width: 100%;
        // height: auto;
        margin-bottom: 0.7rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        // max-width: 300px;
        width: 100%;
        position: relative;

        &:after {
            content: "";
            display: block;
            padding-bottom: 70%;
        }

        img {
            // display: block;
            // width: 100%;
            // height: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    ul {
        color: #62dede;
        list-style: circle;
        margin-left: 1.3rem;
        line-height: 1.6rem;
    }
}

.github-link {
    color: #e0ffff;
    display: flex;
    // justify-content: flex-end;
    justify-content: center;
    margin-bottom: 0.7rem;

    a {
        display: flex;
        gap: 0.6em;
        align-items: center;
    }
}

#contacts {
    backdrop-filter: blur(6px);
}

.contacts-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 2rem;
    @include interpolate(gap, 16px, 64px);
    font-size: 1.2rem;
    color: #e0ffff;

    a {
        display: flex;
        align-items: center;
    }

    img {
        // display: ;
        // transform: translateY(8px);
        margin-right: 0.7rem;
    }

    @media screen and (max-width: $size) {
        flex-direction: column;
        // align-items: center;
        gap: 1.4rem;
        // margin-left: 3rem;
        width: fit-content;
        margin: 0 auto;
    }
}

.cv-download {
    margin-left: -0.7rem;
}

.invisible{
    visibility: hidden;
    padding: 0;
}